*::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    margin: 0 auto;
    width: 1140px;
}

.navbar{
    background-color:  #00353B;
    background-size: 100%;
    .container{
        .navbar_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 700px;
            margin-left:300px;
           .navbar_list{
            .navbar_item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
            p{
                color: white;
            }
            }
           }
           .navbar_list2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
            .navbar_item2{
              display: flex;
              align-items: center;
              justify-content: space-between;
              
              p{
                color: white;
                margin-left: 10px;
              }
              button{
                padding: 10px 30px;
              }
            }
           }
        }
    }
}
.find{
    background-color: #00353B;
    background-size: 100%;
    padding-bottom:200px;
    .container{
        position: relative;
        .find_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .find_text{
                width:600px;
                h2{
                    font-size: 56px;
                    color: white;
                }
                p{
                    color:white;
                    width: 450px;
                }
                .find_list{
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 250px;
                    .find_item{
                        button{
                            padding: 10px 20px;
                            background-color:  #22A45A;
                            border-radius: 5px;
                            border: #22A45A;
                            color: white;
                        }
                        a{
                            color: white;
                        }
                    }
                }
            }
            .find_img{
                width: 500px;
                height: 540px;
            }
        }
        .find_m{
            padding-top: 30px;
            text-align: center;
            color: white;
            padding-bottom: 60px;
        }

        .find_box2{
            width:1000px;
            padding-bottom: 30px;
            background-color: #FCD8CA;
            position: absolute;
            top:100%;
            border-radius: 10px;
            left: 5%;
            .btn_1{
              margin-left: 450px;
              padding: 10px 20px;
              margin-top: 30px;
            }
            h2{
                text-align: center;
                font-size:48px;
            }
            p{
                margin-left:auto;
                margin-right: auto;
                width: 400px;
                text-align: center;
            }
            .btn_2{
            margin-left:450px;
            padding: 10px 20px;
            background-color:  #1F2937;
            border:#1F2937;
            }
        }
    }
}
.from{
    margin-top: 300px;
    .container{
        .from_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .from_img{
               width: 500px;
               height: 500px;
            }
            .from_text{
                width: 500px;
                h2{
                    font-size: 48px;
                }
                p{
                    font-size:18px;
                }
                .from_list{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 230px;
                    button{
                        padding: 10px 20px;
                        background-color:#1F2937;
                        border: #1F2937;
                        color: white;
                        border-radius: 10px;
                    }
                    a{
                        color: #1F2937;
                    }
                }
            }
        }
    }
}

.most{
    .container{
        .most_text{
            width: 600px;
            margin-right: auto;
            margin-left: auto;
            h2{
                text-align: center;
                font-size: 48px;
            }
            p{
                text-align: center;
            }
        }
        .most_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .most_small{
                width: 31%;
                background-color:#00353B;
                button{
                    padding: 5px 15px;
                    margin-top: 20px;
                    margin-left: 20px;
                    border-radius: 5px;
                    border: white;
                }
                h3{
                    color: white;
                    margin-left: 20px;
                }
                h4{
                    color: white;
                    margin-left: 20px;
                } 
                
                .most_list{
                   display: flex;
                   align-items: center;
                   justify-content: space-around;
                  
                   .most_item{
                    img{
                        margin-left: 103px;
                         padding-bottom: -30px;
                    }
                   }
                }
            }
        }
    }
}
.more{
    background-color: #FCD8CA;
    background-size: 100%;
    margin-top: 150px;
    .container{
        .more_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .more_text{
                button{
                    padding: 10px 20px;
                    border: none;
                }
                h2{
                    font-size: 48px;
                    width: 420px;
                }
                p{
                    width: 400px;
                }
                a{
                    border: 1px solid  #1F2937;
                    padding: 10px 20px;
                    color: white;
                    background-color:#1F2937;
                    border-radius: 5px;
                }
            }
        }
    }
}

.our{
    margin-top: 50px;
    .container{
        .our_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .our_small{
                width:320px;
                h3{
                    color: #1F2937;
                }
            }
        }
    }
}

.grow{
    margin-top: 50px;
    .container{
        .grow_text{
            margin-left:auto;
            margin-right: auto;
            text-align: center;
            width: 600px;
            padding-bottom: 50px;
            h2{
                font-size: 48px;
                color: #1F2937;
            }
        }
        .grow_box{
            display: flex;
            align-items: center;
            justify-content:space-between;
            .grow_list{
                .grow_item{
                    padding-bottom: 50px;
                    width: 250px;
                    text-align: center;
                    h3{
                        font-size: 24px;
                        color: #1F2937;
                    }
                    p{
                        color: #1F2937;
                    }
                }
            }
        }
    }
}