*::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    margin: 0 auto;
    width: 1140px;
}

.navbar{
    background-color:  #00353B;
    background-size: 100%;
    .container{
        .navbar_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 700px;
            margin-left:300px;
           .navbar_list{
            .navbar_item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
            p{
                color: white;
            }
            }
           }
           .navbar_list2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
            .navbar_item2{
              display: flex;
              align-items: center;
              justify-content: space-between;
              
              p{
                color: white;
                margin-left: 10px;
              }
              button{
                padding: 10px 30px;
              }
            }
           }
        }
    }
}
.find{
    .container{
        .find_box{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}