*::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.navbar {
  background-color: #00353B;
  background-size: 100%;
}
.navbar .container .navbar_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  margin-left: 300px;
}
.navbar .container .navbar_box .navbar_list .navbar_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.navbar .container .navbar_box .navbar_list .navbar_item p {
  color: white;
}
.navbar .container .navbar_box .navbar_list2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}
.navbar .container .navbar_box .navbar_list2 .navbar_item2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .container .navbar_box .navbar_list2 .navbar_item2 p {
  color: white;
  margin-left: 10px;
}
.navbar .container .navbar_box .navbar_list2 .navbar_item2 button {
  padding: 10px 30px;
}

.find {
  background-color: #00353B;
  background-size: 100%;
  padding-bottom: 200px;
}
.find .container {
  position: relative;
}
.find .container .find_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.find .container .find_box .find_text {
  width: 600px;
}
.find .container .find_box .find_text h2 {
  font-size: 56px;
  color: white;
}
.find .container .find_box .find_text p {
  color: white;
  width: 450px;
}
.find .container .find_box .find_text .find_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
.find .container .find_box .find_text .find_list .find_item button {
  padding: 10px 20px;
  background-color: #22A45A;
  border-radius: 5px;
  border: #22A45A;
  color: white;
}
.find .container .find_box .find_text .find_list .find_item a {
  color: white;
}
.find .container .find_box .find_img {
  width: 500px;
  height: 540px;
}
.find .container .find_m {
  padding-top: 30px;
  text-align: center;
  color: white;
  padding-bottom: 60px;
}
.find .container .find_box2 {
  width: 1000px;
  padding-bottom: 30px;
  background-color: #FCD8CA;
  position: absolute;
  top: 100%;
  border-radius: 10px;
  left: 5%;
}
.find .container .find_box2 .btn_1 {
  margin-left: 450px;
  padding: 10px 20px;
  margin-top: 30px;
}
.find .container .find_box2 h2 {
  text-align: center;
  font-size: 48px;
}
.find .container .find_box2 p {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}
.find .container .find_box2 .btn_2 {
  margin-left: 450px;
  padding: 10px 20px;
  background-color: #1F2937;
  border: #1F2937;
}

.from {
  margin-top: 300px;
}
.from .container .from_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.from .container .from_box .from_img {
  width: 500px;
  height: 500px;
}
.from .container .from_box .from_text {
  width: 500px;
}
.from .container .from_box .from_text h2 {
  font-size: 48px;
}
.from .container .from_box .from_text p {
  font-size: 18px;
}
.from .container .from_box .from_text .from_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}
.from .container .from_box .from_text .from_list button {
  padding: 10px 20px;
  background-color: #1F2937;
  border: #1F2937;
  color: white;
  border-radius: 10px;
}
.from .container .from_box .from_text .from_list a {
  color: #1F2937;
}/*# sourceMappingURL=style.css.map */